
/* :root{
    --Primary-color : #596e5c;
    --Primary-home : #b2bdb4;
    --greenish-grey : #e0dfdf;
    --offwhite : #f0f0f0;
    
    
} */
.body{
    color: red;
}
h1{
    color: teal;
}
/* .h2{
    color:#f9faf9;
} */



/* #6E8A7B */

.hero{
    /* Banner is displayed at the bottom */
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    bottom: 50;
    left: 50;
    position: static;
    width: 50;
    right: 50;
     background-color: #e0dfdf; 
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* <!-- Tells visitors that the website uses cookie --> */
    /* <div style=" */
        /* Take available width */
        flex: 1;
    /* "> */
        /* ... */
    /* </div> */

    /* <!-- Close button --> */
    /* ... */
}